.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  
}
.container {
  padding: 2rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #F0F0F0;
  color:#212121;
  /* background: linear-gradient(0deg, #0051A4 33%, #FFF 33%, #FFF 67%, #0051A4 67%); */
}
.topnav {
  overflow: hidden;
  height: 50px;
  background-color: #333;
}

.topnav div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav div:hover {
  background-color: #ddd;
  color: black;
}

.topnav div.active {
  background-color: #04AA6D;
  color: white;
}

/* Chat */
.chat {
  width: calc(100% - 300px);
  height: 100vh;
  padding: 0;
  position: fixed;
  left: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: #212121;
  overflow-y: scroll ;
}
.chat_header {
  height: 90px;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  background-color: #f0f0f0;
  position: fixed;
  width: calc(100% - 302px);
  border-bottom:#04AA6D 1px solid;
  z-index:2;
}

.message {
  margin: 10px 6px;
  padding: 13px 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
  border: 1px solid #eeee #04AA6D;
  letter-spacing: .62px;
}
.message_subject {
  font-weight: 600;
  
}
.primary_user_message {
  background-color: #04AA6D;
  color: #fff; /* Set text color for your messages */
  margin-left: 20%;
  margin-right: 2%;
  border-bottom-right-radius: 1px;
}
.secondary_user_message {
  background-color: #ddd;
  color: #212121; /* Set text color for other user's messages */
  margin-right: 20%;
  margin-left: 2%;
  border-bottom-left-radius: 1px;
} 
.message_time {
  margin-top: 8px;
  font-size: 87%;
  opacity: .9;
}





/* Conversations */
.conversations {
  width: 300px; /* Adjust the width as needed */
  height: 100vh; /* Set the height to cover the full viewport height */
  background-color: #f0f0f0; /* Set the background color */
  padding: 0; /* Add padding for content */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for separation */
  position: fixed; /* Fixed position to stay on the screen while scrolling */
  left: calc(100vw - 300px); /* Align to the left side */
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll ;
}
.conversations li:first-child {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  /* color: #f0f0f0; */
}
.chosen_one {
  color: #212121;
  border-bottom: solid 1px #dddd;
  background-color: #04aa6d7a;
}
.conversations ul{ 
  list-style: none;
  width: 100%;
  color : #212121;
  padding: 0;
  /* border: orange 1px solid; */
  overflow-y: scroll;
}
.conversations li{ 
  width: 100%;
  padding: 15px;
  margin: 0;
  color: #212121;
  border-bottom: solid 1px #dddd;
}
.user_list_item {
  width: 100%;
  height: 75px;
  transition: linear .2s;
}
.user_list_item:hover {
  background-color: #ddd;
  /* color: #f0f0f0; */
  transform: scale(1.02);
}

/* Send Message */
.send_message_form {

  border:#04AA6D 1px solid;
  width: calc(100% - 300px);
  /* height: 178px; */
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  padding: 8px;
  text-align: center;
}